# hidden files and dirs
.gitignore
.git/
.idea/
.vscode/

# not needed for building OpenVSLAM
Dockerfile*
LICENSE
README.md
.travis.yml
wercker.yml
docs/
test/
viewer/

# build directory
build/
cmake-build-debug/
cmake-build-release/

# build cache
CMakeCache.txt
CMakeFiles/
