<launch>
    <!-- open realsense RGBD mode -->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />

    <!-- open openVSLAM node  -->
    <node name="openvslam_node" pkg="openvslam" type="run_slam" 
    args="-v $(find openvslam)../../orb_vocab/orb_vocab.dbow2 -c $(find openvslam)../../camera_config/rs_D435_rgbd.yaml"
    output="screen"/>

    <!-- rename depth topics from realsense  -->
    <node name="image_transport_node" pkg="image_transport" type="republish" 
    args="raw in:=/camera/aligned_depth_to_color/image_raw raw out:=/camera/depth/image_raw"/>


</launch>